services:
  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    environment:
      - PORT=3000
      - MONG_URI=mongodb://db:27017/Deployzilla
      - MONG_URI_TEST=mongodb://db:27017/Deployzilla-test
      - SECRET_ACCESS_TOKEN=secret
      - ENCRYPTION_KEY=key
      - CORS_ORIGIN=http://localhost:5174
      - PIPELINE_RUNNER_URL=http://host.docker.internal:8081/api/v1/pipelines/start
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - db
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "5174:5173"
    environment:
      - VITE_API_URL=http://localhost:3001
    depends_on:
      - server
    volumes:
      - ./client:/app
      - /app/node_modules

volumes:
  mongo-data:
