services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    environment:
      - PORT=3000
      - MONG_URI=mongodb://host.docker.internal:27017/deployzilla
      - MONG_URI_TEST=mongodb://host.docker.internal:27017/deployzilla-test
      - REDIS_URI=redis://host.docker.internal:6379
      - REDIS_PASSWORD=admin
      - SECRET_ACCESS_TOKEN=secret
      - ENCRYPTION_KEY=a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5
      - CORS_ORIGIN=http://localhost:5174
      - PIPELINE_RUNNER_URL=http://host.docker.internal:8081/api/v1/pipelines/start
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "5174:5173"
    environment:
      - VITE_API_URL=http://localhost:3001
    depends_on:
      - server
    volumes:
      - ./client:/app
      - /app/node_modules

volumes:
  mongo-data:
